[submodule "cuda/cuda-resnet"]
	path = cuda/cudnn-frontend
	url = https://github.com/NVIDIA/cudnn-frontend.git
[submodule "cuda/cutlass"]
	path = cuda/cutlass
	url = git@github.com:NVIDIA/cutlass.git
